/* Scss Document */
@mixin pc {
  @media screen and (min-width: ($breakpoint-pc)) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: ($breakpoint-md)) and (max-width: ($breakpoint-ml)) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: ($breakpoint-sp)) {
    @content;
  }
}

@mixin inner {
  width: 88%;
  margin: 0 auto;
  max-width: 100%;
  @include pc {
    width: 1200px;
    margin: 0 auto;
  }
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin clearfix {
  content: "";
  display: block;
  clear: both;
}

@mixin inner {
  width: 88.8%;
  margin: 0 auto;

  @include pc {
    width: 1200px;
  }
}

@keyframes tabAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@mixin matisse {
  font-family: fot-matisse-pron, sans-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin osaka {
  font-family: "Osaka", sans-serif;
}

$font_osaka: "Osaka", sans-serif;
$font_ryumin: a-otf-ryumin-pr6n, serif;

@mixin myriad {
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin ryumin {
  font-family: a-otf-ryumin-pr6n, serif;
  font-weight: 300;
  font-style: normal;
}

@mixin bigcaslon {
  font-family: "bigcaslon";
}

@function vw($width, $px) {
  @return $px / $width * 100vw;
}

.pc {
  @include sp {
    display: none !important;
  }
}

.sp {
  @include pc {
    display: none !important;
  }
}

.none {
  display: none;
}
.flex {
  display: flex;
}

$Pink: #bd00d4;

h3,
h2 {
  margin-bottom: 15px;
  padding: 9px 0 9px 27px;
  font-size: 26px;
  text-align: left;
  background: $Pink;
  width: 1200px;
  margin: 0 auto;
  color: #fff;
  @include ryumin;
  overflow: hidden;
  position: relative;
  @include sp {
    width: 100vw;
    font-size: 38rem;
    padding: 5rem 0 5rem 24rem;
    margin-bottom: 40rem;
  }

  &::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 892px;
    height: 0;
    border: none;
    border-left: solid 40px transparent;
    border-bottom: solid 55px #ac00d4;
    z-index: 2;
    @include sp {
      width: 64vw;
    }
  }
}
.rankicon {
  width: 44px;
  padding: 8px 0;
  position: absolute;
  bottom: 16px;
  right: 20px;
  text-align: center;
  border-radius: 6px;
  z-index: 10;
  background-image: linear-gradient(
    45deg,
    rgba(158, 0, 0, 1),
    rgba(225, 0, 0, 1) 50%,
    rgba(148, 0, 0, 1)
  );

  @include sp {
    width: 54rem;
    padding: 8rem 0;
    bottom: 16rem;
    right: 20rem;
  }

  p {
    font-size: 21px;
    color: #fff;
    @include ryumin;
    @include sp {
      font-size: 25rem;
    }
    span {
      font-size: 31px;
      @include sp {
        font-size: 35rem;
      }
    }
  }
}
::-webkit-scrollbar {
  width: 11px;
  margin-right: 5px;
  @include sp {
    width: 11rem;
    height: 11rem;
    margin-right: calc(5vw / (900 / 100));
  }
}
::-webkit-scrollbar-thumb {
  background-color: #787878;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background-color: #b4b4b4;
  border-radius: 6px;
}
.section-bg {
  padding-top: 84px;
  background: #000;
  @include sp {
    padding-top: 84rem;
  }
}
.newDate {
  color: #fff;
  display: inline-block;
  position: absolute;
  top: 414px;
  left: 5px;
  z-index: 100;
  font-size: 18px;
  @include ryumin;

  @include sp {
    font-size: 22rem;
    top: 501rem;
    left: 9rem;
  }

  &:before {
    content: "";
    display: inline-block;
    background-image: url(../images/new-bg.png);
    background-repeat: no-repeat;
    background-size: 90px 70px;
    width: 90px;
    height: 70px;
    position: absolute;
    top: -42px;
    left: -6px;
    z-index: -1;

    @include sp {
      background-size: 120rem 100rem;
      width: 120rem;
      height: 100rem;
      top: -62rem;
      left: -11rem;
    }
  }
}
