/* Scss Document */
$color-main: #7AD6BB;
$color-font-main: #454545;
$color-font-bold: #000;
$color-headerbg: #202037;
$color-bg:#F2F0E8;

$breakpoint-pc: 1200px; 
$breakpoint-sp: 1199px; 
$breakpoint-ml: 1199px;
$breakpoint-md: 769px;

$notosands: 'notosandsjp';