.access {
  @include pc {
    padding-bottom: 72px;
  }
  &-inner {
    padding-bottom: 88rem;
    width: 100%;

    @include pc {
      padding-bottom: 40px;
      @include inner;
    }
  }
  &-info {
    padding: 30px 68px 48px 68px;
    font-size: 20px;
    color: #fff;
    text-align: justify;
    @include sp {
      padding: 30rem 68rem 48rem 68rem;
      font-size: 24rem;
      line-height: 1.5;
    }

    dt {
      display: inline-block;
      padding-top: 44px;
      @include sp {
        padding-top: 44rem;
      }
    }

    dd {
      display: inline-block;
      @include sp {
        display: block;
      }
      span {
        font-size: 16px;
        @include sp {
          font-size: 20rem;
          display: block;
        }
      }
    }
  }
  &-room-name {
    color: #fff;
    font-size: 24px;
    padding: 64px 68px 27px 68px;
    @include sp {
      font-size: 24rem;
      padding: 64rem 68rem 27rem 68rem;
    }
  }
  &-map {
    height: 0;
    overflow: hidden;
    padding-bottom: 75%;
    position: relative;
    margin: 0 80rem 108rem;
    iframe {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
    @include pc {
      margin: 0 80px 108px;
    }
  }
}
