.author {
  color: #fff;
  background: #1e1e1e;
  padding-bottom: 40rem;

  @include pc {
    background: #000;
  }

  &-diary {
    padding-top: 50px;
    font-size: 18px;
    @include sp {
      width: 88.8%;
      margin: 0 auto;
      padding-top: 50rem;
      margin-bottom: 72rem;
      font-size: 20rem;
    }
    a,
    a:visited {
      color: inherit;
      display: block;
    }

    h4 {
      padding: 12px 0;
      color: #fff;
      font-size: 21px;
      background: $Pink;
      text-align: center;
      @include sp {
        padding: 12rem 0;
        font-size: 21rem;
      }
    }

    &-inner {
      border-bottom: 1px solid $Pink;
      padding-top: 6%;
      &:last-child {
        border: none;
      }
    }
    &__text {
      padding-bottom: 6%;
      line-height: 1.5;
      font-size: 16px;
      text-align: justify;
      @include sp {
        font-size: 23rem;
      }
    }

    time {
      display: block;
      padding: 1% 0 3%;
      text-align: center;
      @include sp {
        font-size: 30rem;
      }
    }

    &-wrap {
      border: 1px solid $Pink;
      padding: 2% 15%;
      overflow-x: hidden;
      height: 1038px;
      display: flex;
      flex-direction: column;
      @include sp {
        padding: 2% 8%;
        height: 1038rem;
      }

      .slider {
        padding: 0px 0 3% 0;
        .slick-dots li button:before {
          color: $Pink;
          font-size: 14px;
        }
        .slick-dots > li:first-child:last-child {
          display: none;
        }
      }
    }
    &__img {
      margin: 0 auto;
    }
    &__archive {
      width: 100%;
      background-color: $Pink;
      text-align: center;
      padding: 10px 0;
      color: #fff;
      margin: 30px 0 80px;
    }
  }

  &-description {
    &-wrap {
      margin-top: 30px;
      padding: 0 0 40px 0;
      max-height: 460px;
      border: 1px solid #bd00d4;
      @include sp {
        padding: 0 0 40rem 0;
        margin: 40rem auto 0;
      }

      h4 {
        padding: 8px 0 8px 15px;
        margin-bottom: 24px;
        color: #fff;
        background: #bd00d4;
        text-align: left;
        font-size: 21px;
        @include sp {
          padding: 8rem 0 8rem 15rem;
          font-size: 21rem;
        }
      }
    }
    padding: 0 59px 0 40px;
    line-height: 1.65;
    font-size: 16px;
    overflow-y: auto;
    max-height: 333px;
    margin-right: 18px;
    text-align: justify;
    @include sp {
      padding: 0 59rem 0 40rem;
      font-size: 28rem;
      max-height: 300rem;
      margin-right: 18rem;
    }
  }
}

.author .new:before {
  width: 210rem;
  height: 205rem;

  @include pc {
    width: 144px;
    height: 128px;
  }
}

.author-contentwrap {
  @include pc {
    width: 1200px;
    margin: 0 auto;
  }
}

.author-wrapper {
  @include pc {
    border: solid 1px $Pink;
    padding: 47px 41px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }

  &-left {
    display: flex;
    flex-direction: column;
    gap: 50px;
    @include sp {
      gap: 50rem;
    }
  }
  &-right {
    width: 537px;
    @include sp {
      width: 100%;
    }
  }
}

.author-img-wrap {
  position: relative;
  width: 549px;

  @include sp {
    width: 88.8%;
    margin: 0 auto;
  }

  .newDate {
    top: 691px;
    font-size: 24px;
    &::before {
      background-size: 120px 110px;
      width: 120px;
      height: 110px;
      top: -68px;
      left: -11px;
      font-size: 40px;
    }
    @include sp {
      top: 833rem;
      font-size: 35rem;
      &::before {
        background-size: 180rem 160rem;
        width: 180rem;
        height: 160rem;
        top: -100rem;
        left: -11rem;
        font-size: 40rem;
      }
    }
  }
  .rankicon {
    width: 70px;
    padding: 15px 0;
    bottom: 264px;
    @include sp {
      width: 70rem;
      padding: 15rem 0;
      bottom: 320rem;
    }
    p {
      font-size: 30px;
      @include sp {
        font-size: 30rem;
      }
      span {
        font-size: 42px;
        @include sp {
          font-size: 42rem;
        }
      }
    }
  }
}

.author-thumbnail-wrap {
  display: flex;
}

.author-info-wrap {
  color: #fff;
  @include sp {
    width: 88.8%;
    margin: 0 auto;
  }
}

.author-title-sp {
  display: block;
  font-size: 21px;
  background: $Pink;
  padding: 8px 0 8px 16px;
  margin-bottom: 32px;
  @include sp {
    font-size: 21rem;
    padding: 8rem 0 8rem 16rem;
    margin-bottom: 32rem;
  }
}

.author-size-wrap {
  @include matisse;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;

  .options {
    &-flex {
      display: flex;
      align-items: center;
      gap: 9px;
      @include sp {
        gap: 9rem;
      }
    }
    img {
      width: 295px;
      @include sp {
        width: 295rem;
      }
    }
  }
}

.author-name-tall-wrap {
  font-size: 23px;

  @include sp {
    font-size: 34rem;
  }
  .flex {
    gap: 40px;
    @include sp {
      gap: 40rem;
    }
  }
}

.author-schedule {
  @include osaka;
  font-size: 25rem;
  @include inner;
  margin-bottom: 72rem;

  @include pc {
    width: 549px;
    font-size: 21px;
    margin-bottom: 0;
  }
}

.author-schedule-title {
  color: #fff;
  background: $Pink;
  padding: 8rem 0;
  text-align: center;

  @include pc {
    padding: 12px 0;
  }
}

.attend-list-contentwrap {
  color: #fff;
  list-style: none;

  @include pc {
    margin-bottom: 56px;
  }
}

.attend-list {
  display: flex;
  align-items: center;
  border-bottom: $Pink solid 1px;
}

.cell-date {
  background: #c8c8c8;
  text-align: center;
  padding: 24rem;
  color: #020000;

  span {
    margin-left: 4rem;
  }

  @include pc {
    padding: 17px 12px;
    font-size: 22px;
  }
}

.cell-hour {
  display: flex;
  align-items: center;
  padding-left: 15px;
  .therapist-list-realtime {
    width: 228px;
    background-color: #bd00d4;
    margin: 0 0 0 17px;
    color: #fff;
    height: unset;
    font-size: 17px;
    padding: 2px 7px;
    @include sp {
      width: 228rem;
      font-size: 26rem;
      padding: 2rem 7rem;
    }
  }
}

.twitter-inner {
  @include sp {
    width: 90%;
    margin: 0 auto;
  }
}
.twitter-link {
  @include pc {
    font-size: 17px;
  }
}

.gototherapists-wrap {
  background: #3a393b;
  padding: 8rem;
  width: 88.8%;
  margin: 0 auto;
  @include pc {
    display: none;
  }
}

.gototherapists {
  @include ryumin;
  font-size: 24rem;
  text-align: center;
  padding: 10rem 0;
  border: solid 1px #fff;
  a {
    color: #fff;
  }
  @include pc {
    display: none;
  }
}

.gototherapists-wrap-pc {
  @include sp {
    display: none;
  }
  background: #3a393b;
  padding: 8rem;
  margin: 0 auto;
}

.gototherapists-pc {
  @include sp {
    display: none;
  }

  @include ryumin;
  font-size: 18px;
  text-align: center;
  padding: 8px 0;
  border: solid 1px #fff;
  a {
    color: #fff;
  }
}
