.newface-body {
  background: #000;
}
.newface {
  background-color: #000;
  color: #fff;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;

  .inner {
    border: 1px solid $Pink;
    padding: 80px 124px 128px;
    padding-left: 124px;
    padding-right: 124px;
    padding-top: 80px;
    color: $Pink;

    @include sp {
      border: 0;
      padding: 40rem 5.6% 128px;
    }
  }

  .section-title {
    padding: 8px 0;
    background-color: $Pink;
    color: #fff;
    font-family: "Osaka", sans-serif;
    font-size: 24px;
    text-align: center;
    @include sp {
      font-size: 28rem;
      background-color: #1e1e1e;
      padding: 24rem 0;
    }
  }

  .therapists-listwrap {
    @include sp {
      gap: calc(50vw / (1119 / 100)) 0;
    }
  }

  .therapist {
    &-img {
      &-wrap {
        @include sp {
          padding: 20rem;
        }
        @include pc {
          width: 42%;
        }
      }
    }

    &-list {
      &-newface {
        color: #fff;
        background-color: #bd00d4;
        padding: 9px 0;
        width: 100%;
        height: 43px;
        font-size: 23px;
        text-align: center;
        @include ryumin;

        @include sp {
          padding: 12rem 0;
          font-size: 28rem;
          height: 52rem;
        }
      }
    }
  }
}
