.system-body {
  background-color: #000;
}
.system {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 84px;
  color: #fff;
  @include sp {
    width: 100%;
    padding-top: 84rem;
  }
}

.course {
  .place-list {
    padding-top: 46px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include sp {
      padding: 0 2%;
    }
    .item {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      font-size: 26px;
      text-align: center;
      letter-spacing: 0.5rem;
      @include ryumin;
      @include sp {
        font-size: 33rem;
      }
    }
    dt,
    dd {
      width: 50%;
      border: 1px solid #bd00d4;
      padding: 18px 0 18px 37px;
      @include sp {
        padding: 18rem 0 18rem 37rem;
      }
    }
    dt {
      background: #1e1e1e;
      text-align: left;
    }
  }
}

.special-reserve {
  padding-top: 90px;

  @include sp {
    padding: 90rem 2% 0;
  }
  p {
    border: #bd00d4 solid 1px;
    padding: 20px;
    font-size: 27px;
    text-align: center;
    @include ryumin;
    font-weight: bold;
    letter-spacing: 0.5rem;
    @include sp {
      padding: 20rem;
      font-size: 27rem;
    }
  }
  dl {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include sp {
      padding-top: 10rem;
      gap: 10rem;
    }
    div {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      font-size: 26px;
      text-align: center;
      letter-spacing: 0.5rem;
      @include ryumin;
      @include sp {
        font-size: 33rem;
        gap: 10rem;
      }

      dt,
      dd {
        width: 50%;
        border: 1px solid #bd00d4;
        padding: 18px 0 18px 37px;
        @include sp {
          padding: 24rem 0 18rem 37rem;
          height: 84rem;
        }
      }
      dt {
        background: #1e1e1e;
        text-align: left;
      }
    }
    :last-child {
      padding-top: 30px;
      @include sp {
        padding-top: 30rem;
      }
    }
  }
}

.about-reserve {
  padding-top: 90px;
  @include sp {
    padding: 90rem 2% 0;
  }
  p {
    border: #bd00d4 solid 1px;
    padding: 20px;
    font-size: 27px;
    text-align: center;
    @include ryumin;
    font-weight: bold;
    letter-spacing: 0.5rem;
    @include sp {
      margin-bottom: 48rem;
      padding: 20rem;
      font-size: 27rem;
    }
  }
  ul {
    padding-top: 40px;
    font-size: 14px;
    line-height: 1.8;
    padding-left: 13px;
    @include sp {
      padding-top: 40rem;
      font-size: 24rem;
      padding-left: 13rem;
    }
  }
}

.guideline {
  padding-top: 90px;
  @include sp {
    padding: 90rem 2% 0;
  }

  .title {
    border: #bd00d4 solid 1px;
    padding: 20px;
    font-size: 27px;
    text-align: center;
    @include ryumin;
    font-weight: bold;
    letter-spacing: 0.5rem;
  }
  .paragraph {
    font-size: 14px;
    line-height: 2;
    padding: 55px 0 0 15px;
    text-align: justify;
    @include sp {
      padding: 0 0 0 15rem;
    }
    &:nth-child(3) {
      padding-top: 30px;
    }
  }
  .rule {
    padding: 27px 0 113px;
    list-style-type: square;
    font-size: 14px;
    line-height: 1.8;
    margin-left: 2.2em;
  }

  @include sp {
    .title {
      margin-bottom: 48rem;
      font-size: 30rem;
    }
    .title::before {
      width: 70rem;
      margin-right: 24rem;
    }
    .title::after {
      width: 70rem;
      margin-left: 24rem;
    }
    .paragraph {
      font-size: 24rem;
    }
    .rule {
      font-size: 24rem;
    }
  }
}
