@charset "UTF-8";

.page-therapists {
  color: #fff;
  padding-bottom: 106rem;
  background-color: #000;

  @include pc {
    padding-bottom: 260px;
  }
}

.therapist-page-option-pc {
  @include sp {
    display: none;
  }

  @include pc {
    display: block;
  }
}

.therapist-page-option-sp {
  @include pc {
    display: none;
  }

  @include sp {
    display: block;
  }
}

.panel-nostaff {
  color: #fff;
  font-size: 24rem;
  margin-top: 24rem;

  @include pc {
    font-size: 16px;
  }
}
.therapist {
  &-name {
    @include sp {
      margin: 16rem 0;
      font-size: 28rem;
      text-align: center;
      @include ryumin;
    }

    font-size: 18px;
  }

  &-listwrap {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    @include inner;
    padding-top: 29px;
    gap: 48px 10px;
    @include sp {
      justify-content: space-between;
      padding: 0 17rem;
      width: 100%;
      gap: 20rem 0;
    }
  }

  &-page-list {
    width: 48%;
    position: relative;

    @include sp {
      margin-bottom: 24rem;
    }

    @include pc {
      width: 24.3%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
    }

    .rankicon {
      bottom: 82px;
      @include sp {
        bottom: 120rem;
      }
    }
    .newDate {
      top: 362px;
      @include sp {
        top: 421rem;
      }
    }
  }
  &-img{
    height: 389px;
    @include sp {
      height: calc(732vw / (1199 / 100));
    }
    img{
      height: 389px;
      @include sp {
        height: calc(732vw / (1199 / 100));
      }
    }
  }
}
