@charset "UTF-8";

.page-title {
  width: 100%;
  background: #1e1e1e;
  padding: 24rem 0;
  text-align: center;
  font-size: 28rem;
  color: #fff;

  @include sp {
    margin: 0 calc(50% - 50vw);
    width: 100vw;
    margin-bottom: 40rem;
  }

  @include pc {
    font-size: 21px;
    @include osaka;
    background: $Pink;
    text-align: center;
    padding: 8px 0;
    font-weight: 400;
    width: 1200px;
    margin: 0 auto;
  }
}

.page-therapists {
  color: #fff;
  padding-bottom: 106rem;

  @include pc {
    padding-bottom: 260px;
  }
}

.therapists-listwrap {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include inner;

  @include pc {
    padding: 40px 24px 80px;
    justify-content: space-between;
    border: solid $Pink 1px;
  }

  @include sp {
    align-items: flex-start;
  }
}

.therapist-page-list {
  border: solid $Pink 1px;
  width: 48%;
  position: relative;
  margin-bottom: 24px;

  @include sp {
    margin-bottom: 24rem;
  }

  @include pc {
    width: 49.4%;
    display: flex;
    flex-wrap: wrap;
    padding: 16px 10px;
    justify-content: space-around;
    border: solid 1px $Pink;
  }
}

.therapist {
  &-img {
    &-wrap {
      @include sp {
        padding: 20rem;
      }
      @include pc {
        width: 42%;
      }

      .newDate {
        right: 307px;
        @include sp {
          font-size: calc(24vw / (769 / 100));
          top: 10rem;
          right: 8rem;
          width: calc(220vw / (769 / 100));
          height: calc(60vw / (769 / 100));
          background-size: calc(220vw / (769 / 100)) calc(60vw / (769 / 100));
          padding: 2rem 0 2rem 8rem;

          p {
            padding-left: calc(40vw / (769 / 100));
            padding-top: calc(10vw / (769 / 100));
          }

          &::before {
            top: calc(9vw / (769 / 100));
            width: calc(23vw / (769 / 100));
            height: calc(26vw / (769 / 100));
            background-size: calc(23vw / (769 / 100)) calc(26vw / (769 / 100));
          }
        }
      }
    }
  }
}

.option-fee-pc {
  @include sp {
    display: none;
  }

  background: $Pink;
  color: #fff;
  font-size: 17px;
  text-align: center;
  @include matisse;
  padding: 4px 0;
}

.therapist-info-flexwrap {
  width: 100%;
  text-align: center;

  @include sp {
    font-size: 26rem;
  }

  @include pc {
    width: 49%;
  }
}

.therapist-infowrap {
  @include pc {
    display: flex;
    justify-content: space-between;
  }
}

.therapist-contentwrap {
  @include matisse;

  @include sp {
    margin-bottom: 24rem;
  }

  @include pc {
    font-size: 15px;
    margin-bottom: 12px;
  }
}

.therapist-tall {
  span {
    margin-left: 4rem;

    @include pc {
      margin-left: 4px;
    }
  }
}

.therapist-name {
  @include sp {
    margin-bottom: 8rem;
  }

  @include pc {
    font-size: 15px;
    margin-bottom: 8px;
  }
}

.therapist-more {
  background: #3a393b;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @include sp {
    display: none;
  }

  @include pc {
    font-size: 15px;
    margin-bottom: 12px;
    border-radius: 3px;
    @include osaka;
  }

  a {
    color: #fff;

    @include pc {
      padding: 8px 4px;
      display: block;
      padding: 0 8px;
    }
  }
}

.therapist-text {
  @include sp {
    display: none;
  }

  @include pc {
    display: inline-block;
    font-size: 15px;
    line-height: 1.8;
    border-top: solid 2px $Pink;
    padding: 16px 14px 0;
    text-align: left;
  }
}

.option-fee-sp {
  background: $Pink;
  color: #fff;
  @include matisse;
  padding: 6rem 0 6rem 0;

  font-size: 26rem;

  @include pc {
    display: none;
  }
}

.therapist-page-option-pc {
  @include sp {
    display: none;
  }

  @include pc {
    display: block;
  }
}

.therapist-page-option-sp {
  @include pc {
    display: none;
  }

  @include sp {
    display: block;
  }
}

.panel-nostaff {
  color: #fff;
  font-size: 24rem;
  margin-top: 24rem;

  @include pc {
    font-size: 16px;
  }
}

.page-therapists {
  .oil {
    word-spacing: 0;
    font-family: "fot-matisse-pron";
    text-align: center;
    font-size: 17px;
    line-height: 24px;

    .item {
      margin-top: 4px;
      display: block;
      background-color: #a50721;
      &:nth-child(2) {
        background-color: #6d003f;
      }
    }

    &.sp {
      display: none;
    }

    @include sp {
      font-size: 26rem;
      line-height: 32rem;

      .item {
        margin-top: 0;
      }

      &.sp {
        display: block;
      }

      &.pc {
        display: none;
      }
    }
  }
}
