@charset "UTF-8";

.mainvisual {
  background: #000;
}

.main-img-innerwrap {
  @include pc {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 48px;
  }
}

.mainvisual-menu {
  display: flex;
  width: 100%;

  @include sp {
    margin-top: 10rem;
  }

  @include pc {
    display: none;
  }

  &-list {
    @include osaka;
    font-size: 26rem;
    color: #fff;
    text-align: center;
    background: #8b0179;
    width: 50%;
    line-height: 1.4;

    a {
      color: #fff;
      padding: 20rem 0;
      display: inline-block;
      width: 100%;
    }

    span {
      font-size: 22rem;
      @include myriad;
      display: block;
    }
  }
}

.mainvisual-menu-list:last-of-type {
  background: $Pink;
}

.main-inner {
  @include inner;
}

.top-therapists-bg {
  background: #000;
  margin: 0 calc(50% - 50vw);
  padding: 0 calc(50vw - 50%);
  width: 100vw;

  @include pc {
    padding-bottom: 72px;
  }
}

.section-bg {
  background: #000;

  @include pc {
    padding-top: 32px;
  }
}

.top-therapists-container .therapist-list-wrap {
  @include sp {
    justify-content: space-between;
  }
}

// .top-therapists-container .therapist-list {
//  margin-bottom: 24rem;
// }

.therapists-container {
  @include pc {
    display: flex;
    justify-content: space-between;
  }
}

.therapists-wrap {
  background: #000;
  padding-bottom: 72rem;

  @include pc {
    width: 71%;
    padding-bottom: 0;
  }
}

.therapists-title {
  font-size: 28rem;
  @include osaka;
  text-align: center;
  color: #fff;
  background: #1e1e1e;
  padding: 32rem 0;

  @include sp {
    margin: 0 calc(50% - 50vw);
    width: 100vw;
    margin-bottom: 24rem;
  }

  @include pc {
    font-size: 21px;
    color: #fff;
    background: $Pink;
    padding: 8px 0;
    margin-bottom: 50px;
  }
}

.therapists-wrap-inner {
  @include sp {
    width: 88.8%;
    margin: 0 auto;
  }
}

.therapist-list-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 35px 0;

  @include pc {
    justify-content: space-between;
    margin-bottom: 20px;
  }
  @include sp {
    gap: 60rem 0;
  }
  &:after {
    content: "";
    display: block;
    width: 30%;
  }
}

.therapist-list {
  width: 48.5%;
  border: $Pink solid 1px;
  @include matisse;
  text-align: center;
  color: #fff;
  position: relative;

  @include sp {
    font-size: 26rem;
  }

  @include pc {
    width: 32.3%;
    padding-top: 16px;
    margin-bottom: 20px;
  }

  &-image {
    width: 88.3%;
    margin: 18rem auto;

    @include pc {
      margin: 0 auto;
      margin-bottom: 16px;
    }
  }

  &-name {
    margin-bottom: 4rem;

    @include pc {
      font-size: 15px;
      margin-bottom: 8px;
    }
  }

  &-tall {
    margin-bottom: 20rem;

    @include pc {
      font-size: 15px;
      margin-bottom: 20px;
    }
  }

  &-worktime {
    background: #1e1e1e;
    padding: 8rem 0;
    line-height: 1.6;
    @include pc {
      font-size: 15px;
      padding: 8px 0;
    }
  }

  &-option {
    // padding: 7rem 0 6rem 0;
    transform: translateY(1px);

    @include pc {
      font-size: 15px;
      // padding: 4px 0 6px 0;
    }
  }

  &-realtime {
    color: #fff;
    background-color: #a50721;
    position: absolute;
    padding: 5px 0;
    width: 101%;
    height: 23px;
    top: -26px;
    left: -1px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    font-family: "Osaka", sans-serif;

    @include sp {
      padding: 5rem;
      top: -37rem;
      font-size: 100%;
      height: 36rem;
    }
  }
}

.new {
  &:before {
    content: "";
    font-size: 24rem;
    width: 106rem;
    height: 95rem;
    background-image: url(../images/new.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    transform: translateY(-1px);

    @include pc {
      width: 89px;
      height: 80px;
    }
  }
}

.newDate {
  padding: 5px 0 5px 15px;
  width: 101px;
  color: #fff;
  background-image: url(../images/newdate-bg.png);
  background-size: 101px 26px;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 8px;
  z-index: 100;
  font-size: 12px;

  @include md {
    background-size: 200px auto;
    width: 200px;
    font-size: 14rem;
  }
  @include sp {
    top: 10rem;
    right: 15rem;
  }

  p {
    padding-left: 7px;
    @include md {
      padding-left: 20rem;
    }
  }

  &:before {
    content: "";
    background-image: url(../images/newdate-icon.png);
    background-size: 13px 16px;
    width: 13px;
    height: 16px;
    position: absolute;
    top: 3px;
    left: 5px;

    @include md {
      transform: scale(1.5);
      top: 5rem;
      left: 10rem;
    }
  }
}

.therapist-link {
  @include sp {
    display: none;
  }

  border-bottom: solid 1px #fff;
  display: inline-block;
  font-size: 11px;

  a {
    color: #fff;
    padding: 10px 0;
    display: flex;
    align-items: center;
  }

  span {
    margin-left: 8px;
  }
}

.twitter {
  background: #000;
  padding: 0 0 130rem 0;

  @include pc {
    width: 27%;
    padding: 0;
  }
}

.twitter-title {
  background: #fff;
  text-align: center;
  padding: 10rem 0;

  img {
    width: 6%;
  }

  @include sp {
    margin: 0 calc(50% - 50vw);
    width: 100vw;
    margin-bottom: 36rem;
  }

  @include pc {
    padding: 8px 0;
    margin-bottom: 30px;
  }
}

.twitter-inner {
  @include pc {
    width: 100%;
  }
}

.twitter-timeline {
  display: block;

  @include pc {
    display: none;
  }
}

.twitter-wrap {
  overflow: hidden;
}

.twitter-wrap iframe {
  /* 20pxの部分は埋め込んだタイムラインの左右に必要な余白の総計を記載 */
  width: calc(100vw - 20px) !important;
}

.twitter-link {
  @include osaka;
  font-size: 19rem;
  border-bottom: solid 1px #fff;
  display: inline-block;
  margin-top: 48rem;

  span {
    margin-left: 8px;
  }

  @include pc {
    font-size: 11px;
    margin-top: 18px;
  }

  a {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 8px 0;
  }
}

.about {
  margin: 0 auto;
  padding: 70rem 0;
  width: 1200px;
  text-align: center;
  color: #000;
  @include sp {
    width: 100%;
  }

  &-bg {
    margin: 0 calc(50% - 50vw);
    width: 100vw;
    background: url(../images/about-bg.png) no-repeat;
    background-position: center center;
    background-size: cover;
  }

  @include sp {
    padding: 72px 0 0;
  }

  &-title {
    font-size: 41rem;
    border-bottom: $Pink solid 1px;
    display: inline-block;
    padding: 0 20rem;
    color: $Pink;
    @include ryumin;
    margin-bottom: 70rem;

    @include pc {
      font-size: 31px;
    }

    span {
      font-size: 60rem;
      @include bigcaslon;

      @include pc {
        font-size: 48px;
      }
    }
  }

  &-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    gap: 40px;
    @include sp {
      flex-direction: column;
      gap: 10px;
    }

    img {
      width: 336px;
      @include sp {
        width: 40%;
      }
    }

    &:last-of-type {
      margin-bottom: 0;

      @include sp {
        margin-bottom: 48rem;
      }
    }
    &:nth-of-type(2) {
      @include sp {
        display: flex;
        flex-direction: column-reverse;
      }
    }
    &wrap {
      display: flex;
      flex-direction: column;
      gap: 40px;
      @include sp {
        width: 88.8%;
        margin: 0 auto;
      }
    }
    &-flexwrap {
      @include sp {
        width: 100%;
        margin-bottom: 0;
      }
    }
    &-title {
      font-size: 35rem;
      @include ryumin;
      color: $Pink;
      margin-bottom: 25rem;
      display: flex;
      align-items: center;
      font-weight: bold;

      @include sp {
        justify-content: center;
      }

      @include pc {
        margin-bottom: 12px;
      }

      @include pc {
        font-size: 29px;
      }
    }

    &-text {
      font-size: 21rem;
      line-height: 1.5;
      margin-bottom: 25rem;
      @include ryumin;
      font-weight: bold;
      text-align: left;

      @include pc {
        font-size: 20px;
        margin-bottom: 0;
      }
    }
  }
}

.about-image-wrap {
  @include pc {
    display: none;
  }
}

.about-image {
  width: 247px;

  @include sp {
    width: 100%;
  }
}

.top-schedule-therapist-wrap .oil {
  word-spacing: 0;
  font-family: "fot-matisse-pron";
  text-align: center;
  font-size: 15px;
  line-height: 32px;

  .item {
    display: block;
    background-color: #a50721;

    &:nth-child(2) {
      background-color: #6d003f;
    }
  }

  @include sp {
    font-size: 26rem;
    line-height: 32rem;

    .item {
      padding: 3rem 0;
    }
  }
}

.slick-dots li.slick-active button:before {
  font-size: 16px;
  @include sp {
    font-size: 15rem;
  }
}
