@charset "UTF-8";

.footer {
  background: #fff;

  @include pc {
    padding: 32px 0 0;
  }
}

.footer-spnav {
  display: flex;
  flex-wrap: wrap;
  color: #000;
  text-align: center;

  @include pc {
    display: none;
  }

  &-list {
    width: 48%;
    @include osaka;
    font-size: 20rem;
    border: solid $Pink 1px;
    padding: 16rem 0;
    font-size: 21rem;

    span {
      @include myriad;
      font-size: 17rem;
      display: block;
      margin-top: 4rem;
    }

    a {
      display: block;
      width: 100%;
      color: #fff;
    }
  }
}

.footer-info-wrap {
  display: flex;
  align-items: flex-end;
  color: #b8009f;
  @include osaka;
  flex-direction: column;
  gap: 15px;

  @include sp {
    justify-content: space-between;
  }
}

.footer-logo {
  img {
    width: 440rem;
  }

  @include pc {
    img {
      width: 510px;
    }
  }

  &-wrap {
    display: flex;
    align-items: flex-end;
    gap: 16px;
  }
}

.gotop {
  width: 78rem;

  @include pc {
    display: none;
  }

  a {
    display: block;
  }
}

.footer-logo-hours {
  @include sp {
    display: none;
  }
  font-size: 24px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  span {
    font-size: 17px;
    color: #fff;
    background-color: #b8009f;
    padding: 2px;
    border-radius: 5px;
    text-align: center;
  }
}

.footer-logo-tel {
  @include sp {
    display: none;
  }
  font-size: 20px;
  span {
    font-size: 35px;
  }
}

.footer-logo-snswrap {
  @include sp {
    display: none;
  }

  display: flex;
  gap: 16px;
}

.footer-logo-snslist {
  width: 38px;

  &:last-of-type {
    margin-right: 0;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer-sp-listwrap {
  display: flex;
  z-index: 1000;
  position: sticky;
  bottom: 0;
  background: #000;

  @include pc {
    display: none;
  }
}

.footer-sp-list {
  display: flex;
  width: 33.33%;
  background: #b8009f;
  align-items: center;
  justify-content: center;

  a {
    display: block;
    color: #fff;
    padding: 10rem 0;
  }

  &-img {
    width: 50%;
    margin: 0 auto;
    img {
      margin: 10rem 0;
    }
  }
}

.footer-flexdiv {
  @include sp {
    display: none;
  }

  display: flex;
  justify-content: space-between;
  padding-top: 77px;
  padding-bottom: 20px;
  @include inner;
}

.footer-pc-navwrap {
  @include sp {
    display: none;
  }

  display: flex;
  align-items: flex-end;

  width: 1200px;
  margin: 0 auto;
}

.footer-pc-nav {
  @include sp {
    display: none;
  }

  display: flex;
  justify-content: space-around;
  @include ryumin;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  a {
    color: #000;
  }
}

.footer-pc-copyright-wrap {
  @include sp {
    display: none;
  }

  font-size: 12px;
  color: #fff;
  text-align: right;
  background: #b8009f;
  padding: 8px;
}

.footer-sp-list-img-sms {
  img {
    transform: translateY(12rem);
  }
}
