@charset "UTF-8";

.header {
  padding: 20rem 0 14rem;
  background: #000;

  z-index: 1000;

  @include pc {
    padding: 50px 0 0 0;
  }
}

.header-innerwrap {
  @include pc {
    padding-bottom: 78px;
  }
}

.header-inner {
  display: flex;
  align-items: center;
  align-items: flex-end;
  @include inner;
  justify-content: space-between;
}

.header-logo-wrap {
  display: flex;
  flex-direction: column;
  @include sp {
    gap: 10px;
    width: 100%;
  }

  @include pc {
    align-items: center;
  }

  &-top {
    display: flex;
    align-items: flex-end;
    gap: 10px;
  }
}

.header-logo {
  width: 100%;
  img {
    width: 518px;
  }

  @include sp {
    width: calc(646vw / (900 / 100));
    img {
      width: calc(646vw / (900 / 100));
    }
  }

  a {
    display: inline-block;
  }
}

.header-sns-listwrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  @include osaka;

  a,
  span {
    color: #fff;
    text-align: center;
  }
  span {
    margin-top: 10px;
  }
}

.header-sns-list {
  font-size: 9px;
  width: 37px;
  display: flex;
  flex-direction: column;

  a {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    span {
      margin-top: 10px;
    }
  }
}

.header-pc-shopinfo {
  @include sp {
    display: none;
  }
  @include osaka;
  color: #b8009f;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;

  &-desc {
    color: #fff;
    font-size: 15px;
  }

  &-time {
    font-size: 24px;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    span {
      font-size: 17px;
      color: #fff;
      background-color: #b8009f;
      padding: 2px;
      border-radius: 5px;
      text-align: center;
    }
  }

  &-tel {
    font-size: 20px;

    span {
      font-size: 35px;
    }
  }
}

.business-hours {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(30vw / (900 / 100));
  color: #fff;
  font-size: calc(40vw / (900 / 100));
  @include osaka;
  font-weight: lighter;
  letter-spacing: -2rem;

  span {
    padding: 2px;
    background: #b8009f;
    border-radius: 5px;
    letter-spacing: initial;
    font-size: calc(28vw / (900 / 100));
  }

  @include pc {
    display: none;
  }
}

.top-title {
  margin: 26rem 0 50rem;
  padding: 6rem 0;
  background-color: #b8009f;
  color: #fff;
  font-size: 20rem;
  text-align: center;
  @include osaka;

  @include pc {
    display: none;
  }
}

.header-credit {
  @include sp {
    display: none;
  }

  a {
    display: block;
  }
}

.pc-header-menu {
  @include sp {
    display: none;
  }

  @include inner;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.pc-header-menu-list {
  @include ryumin;
  font-size: 18px;

  a {
    color: #fff;

    @include pc {
      padding: 27px 0px;
      display: flex;
      flex-direction: column;
    }
  }
}

.pc-header-menu-list a {
  @include pc {
    position: relative;
    transition: 0.3s;
  }
}

.pc-header-menu-list a:hover {
  @include pc {
    width: 100%;
    color: #000;
  }
}

.pc-global-navwrap {
  width: 100%;
  background: #bd00d4;
  color: #fff;
}

#global-nav {
  z-index: 1000;
}

#global-nav.m_fixed {
  left: 0;
  position: fixed;
  top: 0;
}

.slider {
  z-index: 1;
  padding: 0 0 48rem 0;

  @include pc {
    z-index: 10;
    padding: 24px 0 64px 0;
  }
}

.pc-bgwrap {
  @include pc {
    background: #000;
  }
}
